<%inherit file="base.html"/>
<%block name="title">Articles from some sites</%block>
<%block name="content">
	<div id="searchbox">
		<form method="get">
			<input name="q" type="search" placeholder="Search articles" value='${q}'>
			<button type="submit">Search</button>
		</form>
		% if q:
			<br/>
			<a href="/">Go back</a>
		% endif
	</div>
	% for article in articles:
		<div class="article">
			<h3>
				<img src="/static/icons/${article[0]['source']}.ico" width="16" />
				<a class="${article[0]['source']}" onclick="window.open('/go/${article[0]['link']}'); return false;" href="/go/${article[0]['link']}">
					${article[0]['title']}
				</a>
			</h3>
		</div>
	% endfor
	<div id="pagination">
		% if page_num > 1:
			<a href="/${page_num-1}">Previous</a>
		% endif
		
		<a class="current">${ page_num }</a>
		
		% if page_num < num_pages:
			<a href="/${page_num+1}">Next</a>
		% endif
	</div>
</%block>
