<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			<%block name="title" />
		</title>
		<script type="text/javascript" src="/static/jquery-2.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<script type="text/javascript" src="/static/jquery.touchSwipe.min.js"></script>
		<script type="text/javascript" src="/static/tech-parser.js"></script>
		<%block name="head" />
	</head>
	<body>
		<div id="main">
			<%block name="content" />
		</div>
	</body>
</html>
