<%inherit file="base.html"/>
<%block name="title">History</%block>
<%block name="content">
	<div id="searchbox">
		<form method="get" action="/history">
			<input name="q" type="search" placeholder="Search articles" value='${q}' autocomplete="off">
			<button type="submit">Search</button>
		</form>
		% if q:
			<br/>
			<a href="/history">Go back</a>
		% endif
		<a href="/">Main page</a>
	</div>
	% for article in articles:
		<div class="article">
			<h3>
				<a class="open-tab" target="_blank" href="/go/${article['link']}">
					<img src="/static/icons/${article['source']}.ico" width="16" />
				</a>
				<a data-spoiler='true' class="${article['source']}" onclick="toggleText(this)">
					${article['title']}
				</a>
			</h3>
			<div class="summary">
				<p>
					${article['summary']}
				</p>
				<a href="/go/${article['link']}" target="_blank">
					Open article in new tab
				</a>
				<p>
					<a data-pocket-label="pocket" data-pocket-count="horizontal"
						class="pocket-btn" data-lang="en"
						data-save-url="${article['link']}"></a>
				</p>
			</div>
		</div>
	% endfor
	<div id="pagination">
		% if page_num > 1:
			<a href="/history/${page_num-1}?q=${q}">Previous</a>
		% endif
		
		<a class="current">${ page_num }</a>
		
		% if page_num < num_pages:
			<a href="/history/${page_num+1}?q=${q}">Next</a>
		% endif
	</div>
	<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
</%block>
