<%page args="article" />
<div class="article" data-escaped-link="${article['link']}">
    <h3>
        <a class="open-tab" target="_blank" href="${article['original_link']}">
            % if article.get('fromrss', 0):
                % if len(article['icon']):
                    <img src="${article['icon']}" width="16" />
                % endif
            % else:
                <img src="/static/icons/${article['source']}.ico" width="16" />
            % endif
        </a>
        % if article.get('fromrss', 0):
            <a data-spoiler="true" class="${article['source']}" style="color: ${article['color']}" onclick="toggleText(this)">
                ${article['title']}
            </a>
        % else:
            <a data-spoiler="true" class="${article['source']}" onclick="toggleText(this)">
                ${article['title']}
            </a>
        % endif
    </h3>
    <div class="summary">
        <div>
            % if len(article['summary']):
                ${article['summary']}
            % else:
                No summary text available.
            % endif
        </div>
        <a target="_blank" href="${article['original_link']}">
            Open article in new tab
        </a><br/>
        % if article['liked']:
            <a class="like liked" onclick="RateArticle(this)">
                <img src="/static/icons/like-32.ico" />
            </a>
        % else:
            <a onclick="RateArticle(this)" class="like">
                <img src="/static/icons/like-32.ico" />
            </a>
        % endif
        % if article['disliked']:
            <a class="dislike disliked" onclick="RateArticle(this)">
                <img src="/static/icons/dislike-32.ico" />
            </a>
        % else:
            <a onclick="RateArticle(this)" class="dislike">
                <img src="/static/icons/dislike-32.ico" />
            </a>
        % endif
        % if config.enable_pocket:
            <p>
                <a data-pocket-label="pocket" data-pocket-count="horizontal"
                    class="pocket-btn" data-lang="en"
                    data-save-url="${article['link']}"></a>
            </p>
        % endif
    </div>
</div>
