% if articles:
	% for article in articles:
		<div class="article" data-escaped-link="${article['link']}">
			<h3>
				<a class="open-tab" target="_blank" href="${article['original_link']}">
					% if article.get('fromrss', 0):
						% if len(article['icon']):
							<img src="${article['icon']}" width="16" />
						% endif
					% else:
						<img src="/static/icons/${article['source']}.ico" width="16" />
					% endif
				</a>
				% if article.get('fromrss', 0):
					<a data-spoiler="true" class="${article['source']}" style="color: ${article['color']}" onclick="toggleText(this)">
						${article['title']}
					</a>
				% else:
					<a data-spoiler="true" class="${article['source']}" onclick="toggleText(this)">
						${article['title']}
					</a>
				% endif
			</h3>
			<div class="summary">
				<div>
					% if len(article['summary']):
						${article['summary']}
					% else:
						No summary text available.
					% endif
				</div>
				<a target="_blank" href="${article['original_link']}">
					Open article in new tab
				</a><br/>
				% if article['liked']:
					<a class="like liked" onclick="RateArticle(this)">
						<img src="/static/icons/like-32.ico" />
					</a>
				% else:
					<a onclick="RateArticle(this)" class="like">
						<img src="/static/icons/like-32.ico" />
					</a>
				% endif
				% if article['disliked']:
					<a class="dislike disliked" onclick="RateArticle(this)">
						<img src="/static/icons/dislike-32.ico" />
					</a>
				% else:
					<a onclick="RateArticle(this)" class="dislike">
						<img src="/static/icons/dislike-32.ico" />
					</a>
				% endif
				% if config.enable_pocket:
					<p>
						<a data-pocket-label="pocket" data-pocket-count="horizontal"
							class="pocket-btn" data-lang="en"
							data-save-url="${article['link']}"></a>
					</p>
				% endif
			</div>
		</div>
	% endfor
% else:
	% if q:
		<h3>No articles were found</h3>
	% else:
		<h3>There are no articles yet.</h3>
		% if page == 'main':
			<p style="font-size: 15px;">
				% if is_parsing:
					Hold on for a few minutes.
				% else:
					Wait for
                    <%
                        import time
                        remains = int((config.update_interval - time.time() % config.update_interval) / 60.0)
                        remains = str(remains)
                        minutes = 'minutes' if not remains.endswith('1') or remains == '11' else 'minute'
                    %>
                    ${remains} ${minutes}
					or run <code>python -m TechParser update</code> manually
				% endif
			</p>
		% elif page == 'history':
			<p style="font-size: 15px;">
				You didn't add any articles to history.
				You can do that by clicking the
				<img align="top" style="max-height: 24px;"
					src="/static/icons/like-32.ico" alt="like" />
				button.
			</p>
		% elif page == 'blacklist':
			<p style="font-size: 15px;">
				You didn't add any articles to blacklist.
				You can do that by clicking the
				<img align="top" style="max-height: 24px;"
					src="/static/icons/dislike-32.ico" alt="dislike" />
				button.
			</p>
		% endif
	% endif
% endif
