@font-face {
	font-family: "OpenSans Light";
	font-style: normal;
	font-weight: normal;
	src: url('/static/fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
	font-family: "OpenSans Light";
	font-style: italic;
	font-weight: normal;
	src: url('/static/fonts/OpenSans-LightItalic.woff') format('woff');
}

@font-face {
	font-family: "OpenSans Light";
	font-style: normal;
	font-weight: bold;
	src: url('/static/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
	font-family: "OpenSans Light";
	font-style: italic;
	font-weight: bold;
	src: url('/static/fonts/OpenSans-Italic.woff') format('woff');
}

#main {
	font-family: "OpenSans Light", Arial, Verdana;
	margin: 0 auto;
	max-width: 1200px;
}

#pagination {
	font-size: 20px;
	margin-left: 20px;
	margin-top: 25px;
}

#pagination a {
	color: #7A9BAC;
}

#pagination .current {
	color: #476879 !important;
}

.article > .summary > .open-tab {
	text-decoration: none !important;
}

#searchbox input {
	border: 1px solid #AAB2BD;
	border-radius: 1px;
	font-size: 14px;
	height: 23px;
	max-width: 420px;
	outline: 0;
	padding-bottom: 1px;
	padding-left: 8px;
	padding-right: 4px;
	padding-top: 1px;
	width: 150px;
}

#searchbox input:focus {
	border-color: #3399FF;
}

#searchbox button {
	background: #3399FF;
	border: 2px solid #2288EE;
	border-radius: 4px;
	color: #FFF;
	cursor: pointer;
	font-size: 14px;
	height: 26px;
	margin-left: -1px;
	outline: 0;
	padding: 1px 6px;
}

#searchbox button:hover {
	border-color: #147ADF;
}

#searchbox button:active {
	background: #44AAFF
}

a {
	color: #0044CC;
	text-decoration: none;
}

@media screen and (max-width: 450px) {
	#searchbox input {
		max-width: 92%;
	}
}

.article > h3 {
	font-size: 19px;
	font-weight: bold;
	margin: 20px;
	max-width: 800px;
}

.article > .summary {
	display: none;
	font-size: 16px;
	line-height: 1.4;
	margin: 20px;
	margin-left: 36px;
	max-width: 700px;
}

a:hover {
	text-decoration: underline;
}

.habrahabr {
	color: #7FA0B0;
}

.readwrite {
	color: rgb(200, 15, 50);
}

.techcrunch {
	color: #078000;
}

.venturebeat {
	color: #EF3B29;
}

.slashdot {
	color: #105454;
}

.engadget {
	color: #3498DB;
}

.gizmodo {
	color: #464646;
}

.techrepublic {
	color: #78C3F1;
}

.smashingmagazine {
	color: #F26A4B;
}

.androidcentral {
	color: #9EB446;
}

.theverge {
	color: #EE8E82;
}

.topdesignmagazine {
	color: #A7301E;
}

.flowa {
	color: #00CC73;
}

.ittoolbox {
	color: #BE0C3C;
}

.dzone {
	color: #1AA266;
}

.codeproject {
	color: #FF9900;
}

.hackernews {
	color: #FF7941;
}

.mashable {
	color: #3089EE;
}

.maketecheasier {
	color: #99B2CB;
}

.digg {
	color: #000000;
}

.wired {
	color: #4F4F4F;
}

.medium {
	color: #222222;
}

.planetclojure {
	color: #91D547; 
}

.reddit {
	color: #A3BBD4;
}

.trashbox {
	color: #1FB6F2;
}

.droider {
	color: #313131;
}

.redroid {
	color: #DFC100;
}

.threednews {
	color: #2376BC;
}

.threednews:after {
	content: "(3dnews)" !important;
}

.ixbt {
	color: #7971B5;
}

.mobile-review {
	color: #D83B46;
}

.helpix {
	color: #FF0000;
}

.recode {
	color: #CC0713;
}

.zdnet {
	color: #BE0000;
}

.geektimes {
	color: #626D8D;
}

.article h3 a[data-spoiler='true'] {
	outline: 0;
	cursor: pointer;
}

.article h3 a[data-spoiler='true']:after {
	content: "(" attr(class) ")";
	color: #999;
	font-size: 12px;
	vertical-align: top;
}

.summary img {
	border-radius: 3px;
	display: block;
	height: auto;
	margin-bottom: 15px;
	margin-left: 1px;
	margin-right: 15px;
	max-width: 100%;
}

.like, .dislike {
	cursor: pointer;
	display: inline-block;
	height: 32px;
	opacity: 0.4;
	padding: 0px;
	width: 32px;
}

.like:hover {
	opacity: 0.7;
}

.dislike:hover {
	opacity: 0.7;
}

.liked, .disliked, .liked:hover, .disliked:hover {
	opacity: 1;
}
