#main {
	font-family: Arial, Verdana;
	margin: 0 auto;
	max-width: 1200px;
}

#pagination {
	font-size: 20px;
	margin-left: 20px;
	margin-top: 25px;
}

#pagination a {
	color: #7A9BAC;
}

.current {
	color: #476879 !important;
}

#searchbox input {
	border: 1px solid #AAB2BD;
	border-radius: 1px;
	font-size: 14px;
	height: 23px;
	outline: 0;
	padding-bottom: 1px;
	padding-left: 8px;
	padding-right: 4px;
	padding-top: 1px;
}

#searchbox input:focus {
	border-color: #3399FF;
}

#searchbox button {
	background: #3399FF;
	border: 2px solid #2288EE;
	border-radius: 4px;
	color: #FFF;
	cursor: pointer;
	font-size: 14px;
	height: 26px;
	margin-left: -1px;
	outline: 0;
	padding: 1px 6px;
}

#searchbox button:hover {
	border-color: #147ADF;
}

#searchbox button:active {
	background: #44AAFF
}

a {
	color: #0044CC;
	text-decoration: none;
}

.article h3 {
	margin: 20px;
}

a:hover {
	text-decoration: underline;
}

.habrahabr {
	color: #7FA0B0;
}

.readwrite {
	color: rgb(200, 15, 50);
}

.techcrunch {
	color: #078000;
}

.venturebeat {
	color: #EF3B29;
}

.slashdot {
	color: #105454;
}

.engadget {
	color: #3498DB;
}

.gizmodo {
	color: #464646;
}

.techrepublic {
	color: #78C3F1;
}

.smashingmagazine {
	color: #F26A4B;
}

.androidcentral {
	color: #9EB446;
}

.theverge {
	color: #EE8E82;
}

.topdesignmagazine {
	color: #A7301E;
}

.flowa {
	color: #00CC73;
}

.ittoolbox {
	color: #BE0C3C;
}

.dzone {
	color: #1AA266;
}

.codeproject {
	color: #FF9900;
}

.hackernews {
	color: #FF7941;
}

.mashable {
	color: #3089EE;
}

.maketecheasier {
	color: #99B2CB;
}

.digg {
	color: #000000;
}

.wired {
	color: #4F4F4F;
}

.medium {
	color: #222222;
}

.planetclojure {
	color: #91D547; 
}

.reddit {
	color: #A3BBD4;
}

.habrahabr:after, .wired:after, .mashable:after,
.hackernews:after, .maketecheasier:after, .digg:after,
.codeproject:after, .smashingmagazine:after,
.androidcentral:after, .engadget:after, .techrepublic:after,
.readwrite:after, .dzone:after, .gizmodo:after, .venturebeat:after,
.ittoolbox:after, .flowa:after, .topdesignmagazine:after,
.theverge:after, .slashdot:after, .techcrunch:after, .medium:after,
.planetclojure:after, .reddit:after {
	content: "(" attr(class) ")";
	color: #999;
	font-size: 12px;
	vertical-align: top;
}
