#main {
	max-width: 1200px;
	margin: 0 auto;
}

#pagination {
	margin-top: 20px;
}

a {
	color: #0044CC;
	text-decoration: none;
}

.article h3 {
	margin: 20px;
}

a:hover {
	text-decoration: underline;
}

.habrahabr {
	color: #7FA0B0;
}

.readwrite {
	color: rgb(200, 15, 50);
}

.techcrunch {
	color: #078000;
}

.venturebeat {
	color: #EF3B29;
}

.slashdot {
	color: #105454;
}

.engadget {
	color: #3498DB;
}

.gizmodo {
	color: #464646;
}

.techrepublic {
	color: #78C3F1;
}

.smashingmagazine {
	color: #F26A4B;
}
